@page "/users"

@inject IUserService userService
@inject NavigationManager navigationManager
@inject ModalService _modalService

@using WebSsh.Shared.Dto.Users
@using WebSsh.BlazorClient.Internal.Extensions

@inherits AuthWithRoleSupportComponentBase

<h3>Users</h3>
<Row>
    <Col Span="8"
         Offset="16">
    <Button Type="@ButtonType.Primary"
            Class="create-entity-btn"
            OnClick="@OnAddUserChange">
        Add user
    </Button>
    </Col>
</Row>

<Table DataSource="@_users"
       Loading="loading"
       PageSize="20">
    <Column Field="@context.UserName" Title="User name">
        @if (!context.IsDefaultUser)
        {
            <a @onclick="@(e => OnChangeUserName(context))">@context.UserName</a>
        }
        else
        {
            <p>@context.UserName</p>
        }
    </Column>
    <Column Field="@context.Description" Title="Description" />
    <Column Field="@context.Email" Title="Email" />
    <Column Field="@context.Role" Title="Role">
        @if (context.Role != null)
        {
            <span>@context.Role.Name</span>
        }
    </Column>
    <Column Field="@context.CreatedAt" Title="Date created" Format="dd.MM.yyyy hh:mm:ss" />
    <Column Field="@context.UpdatedAt" Title="Date updated" Format="dd.MM.yyyy hh:mm:ss" />
    <Column Field="@context.Status" Title="Status">
        <span>@context.Status.ToStringStatus()</span>
    </Column>
    <ActionColumn>
        @if (!context.IsDefaultUser)
        {
            <Space>
                <SpaceItem>
                    <Button Danger OnClick="() => OnDelete(context.Id)">Delete</Button>
                </SpaceItem>
                @if (context.Status == Enums.Enums.UserStatus.Active)
                {
                    <SpaceItem>
                        <Button Danger OnClick="() => OnLock(context.Id)">Lock</Button>
                    </SpaceItem>
                }
                @if (context.Status == Enums.Enums.UserStatus.Locked)
                {
                    <SpaceItem>
                        <Button Danger OnClick="() => OnUnLock(context.Id)">Unlock</Button>
                    </SpaceItem>
                }
            </Space>
        }
    </ActionColumn>
</Table>

@code {
    private protected override string Roles => RoleConstants.Administrator;

    private IEnumerable<UserDto> _users = new List<UserDto>();
    private bool loading = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            loading = true;
            _users = await userService.GetAllAsync();
            loading = false;
            navigationManager.NavigateTo(PageUrlConstants.Users);
        }
        catch
        {
            loading = false;
        }

        await base.OnInitializedAsync();
    }

    private void OnChangeUserName(UserDto data)
    {
        navigationManager.NavigateTo($"{PageUrlConstants.UsersEdit}/{data.Id}");
    }

    private void OnAddUserChange()
    {
        navigationManager.NavigateTo(PageUrlConstants.UsersAdd);
    }

    private void OnDelete(int id)
    {
        try
        {
            _modalService.Confirm(new ConfirmOptions
            {
                Content = "Are you sure you want to delete the user?",
                OkType = "danger",
                OnOk = async (e) =>
                {
                    await userService.DeleteAsync(id);
                    loading = true;
                    _users = await userService.GetAllAsync();
                    loading = false;
                    StateHasChanged();
                },
            });
        }
        catch
        {
            loading = false;
        }
    }

    private void OnLock(int id)
    {
        _modalService.Confirm(new ConfirmOptions
        {
            Content = "Are you sure you want to lock the user?",
            OkType = "danger",
            OnOk = async (e) =>
            {
                try
                {
                    await userService.LockAsync(id);
                    _users = await userService.GetAllAsync();
                }
                catch
                {

                }
                StateHasChanged();
            },
        });
    }

    private void OnUnLock(int id)
    {
        _modalService.Confirm(new ConfirmOptions
        {
            Content = "Are you sure you want to unlock the user?",
            OkType = "danger",
            OnOk = async (e) =>
            {
                try
                {
                    await userService.UnLockAsync(id);
                    _users = await userService.GetAllAsync();
                }
                catch
                {

                }
                StateHasChanged();
            },
        });
    }
}
